/* CSS Document */


/* Intro About section */

#intro-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    gap: 60px;
    padding: 0 15px;
}

#intro-about img {
    width: 100%;
    max-width: 762px;
    border-radius: 10px;
}


/* About text section */

#about-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBD1AD;
    padding: 0 15px;
    gap: 60px;
}

#about-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}

#about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    max-width: 762px;
}


/* Flower decoration */

.about-flower-decoration {
    display: flex;
    justify-content: center;
}

.flowers {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    width: 30.76%;
    padding: 50px 120px;
    max-width: 450px;
}


/* Qualifications section */

#about-qualifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 15px;
}

#qualifications-content {
    display: flex;
    flex-direction: column;
    max-width: 762px;
    width: 100%;
    gap: 60px;
}

.quali-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #093409;
    color: #F2EFDE;
}

.quali-top img {
    display: flex;
    justify-content: center;
}

.quali-middle {
    display: none;
    flex-direction: column;
    padding: 15px;
    gap: 15px;

    background-color: #DBD1AD;
}

.quali-programs {
    display: flex;
    justify-content: space-between;
    max-width: 375px;
}

.quali-programs img {
    border-radius: 12px;
}

.quali-bottom {
    display: none;
    justify-content: flex-end;
    padding: 15px;

    background-color: #093409;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    /* Active */
.qualification.active .quali-top {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

.qualification.active .quali-top img {
    display: none;
}

.qualification.active .quali-middle {
    display: flex;
}

.qualification.active .quali-bottom {
    display: flex;
}


/* Hobbies section */

#about-hobbies {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 120px;
    align-items: center;
}

.about-hobby-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 762px;
}

.hobby-box-headline {
    display: flex;
    padding-top: 15px;
    color: #093409;
    justify-content: center;
    text-align: center;

    background-color: #DBD1AD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-box-image {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #DBD1AD;
}

.box-image {
    border-radius: 10px;
    width: 100%;
}

.hobby-bodytext {
    display: none;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    background-color: #DBD1AD;
}

.about-box-arrow-down {
    display: flex;
    padding: 15px 0;
    justify-content: center;

    color: #F2EFDE;
    background: #A2976B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

    /* Active */
.about-hobby-box.active .hobby-bodytext {
    display: flex;
}

.about-hobby-box.active .about-box-arrow-down img {
    transform: rotate(180deg);
}


/* Call to action - button style is in base.css */

#about-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 15px;
}

#about-cta-headline {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}