/* This is a CSS document */

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #093409;
    background-color: #F2EFDE;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Fonts and headlines */

/* H1 text - title*/
h1 {
    font-family: Jost;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 11.2px;
    margin: 0;
}

/* H2 text - subtitle*/
h2 {
    font-family: Jost;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0;
}

/* H3 text - headline*/
h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

/* H4 text - bold body*/
h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* Body text */
p {
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* h5 text - bottom footer*/
h5 {
    color: #F2EFDE;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 0;
}

/* ID for bold body inside paragraph */
.bold-body {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Header */
header {
    display: flex;
    height: 70px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

    background: #093409;

    z-index: 20;
}

header img {
    height: 45px;
    z-index: 20;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Footer */
footer {
    width: 100%;
}

/* Top footer */
#top-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;

    background: #247022;
    color: #F2EFDE;
}

#footer-contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#footer-contact-information div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#footer-nav {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#footer-nav div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* Bottom footer */
#bottom-footer {
    display: flex;
    height: 25px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #093409;
}