/* CSS Document */

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #093409;
    background-color: #F2EFDE;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Fonts and headlines */

/* H1 text - title*/
h1 {
    font-family: Jost;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 11.2px;
    margin: 0;
}

/* H2 text - subtitle*/
h2 {
    font-family: Jost;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0;
}

/* H3 text - headline*/
h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

/* H4 text - bold body*/
h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* Body text */
p {
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* h5 text - bottom footer*/
h5 {
    color: #F2EFDE;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 0;
}

/* Class for bold body inside paragraph */
.bold-body {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Header */
header {
    display: flex;
    height: 70px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

    background: #093409;

    z-index: 20;
}

header img {
    height: 45px;
    z-index: 20;
    cursor: pointer;
}

.logo {
    height: 45px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;

    background-color: #247022;
    color: #F2EFDE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#menu-desktop {
    display: none;
}

/* Element with both .menu and .active classes */
/* .active is added through Javascript */
.menu.active {
    display: flex;
}

.menu-link {
    display: flex;
    padding: 35px 15px;
    border-bottom: 2px solid #093409;
}

.menu-link:last-child {
    border-bottom: unset;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Call to action button */
.cta-button {
    /* Neutralize the default styles on the semantic tag button */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Button style */
    display: flex;
    width: 92.30%;
    max-width: 500px;
    height: 49px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #81C730;
}

.cta-button:hover {
    background-color: #247022;
    color: #F2EFDE;
}

.cta-button:active {
    background-color: #093409;
    color: #F2EFDE;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Footer */
footer {
    width: 100%;
}

/* Top footer */
#top-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;

    background: #247022;
    color: #F2EFDE;
}

#footer-contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#footer-nav {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#footer-nav div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* Bottom footer */
#bottom-footer {
    display: flex;
    height: 25px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #093409;
}


/* ------------------------------------------------------------------------------------------------------- */

/* Media Query - headerstyles, header and footer*/

@media only screen and (min-width: 992px) {
    h1 {
        font-family: Jost;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 11.2px;
        margin: 0;
    }
    
    /* H2 text - subtitle*/
    h2 {
        font-family: Jost;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6px;
        margin: 0;
    }
    
    /* H3 text - headline*/
    h3 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
    }
    
    /* H4 text - bold body*/
    h4 {
        font-size: 15px;
        font-weight: 700;
        line-height: 200%;
        /* 30px */
        letter-spacing: 0.75px;
        margin: 0;
    }
    
    /* Body text */
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 200%;
        /* 30px */
        letter-spacing: 0.75px;
        margin: 0;
    }
    
    /* h5 text - bottom footer*/
    h5 {
        color: #F2EFDE;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.6px;
        margin: 0;
    }
    
    /* Class for bold body inside paragraph */
    .bold-body {
        font-size: 15px;
        font-weight: 700;
        line-height: 200%;
        /* 30px */
        letter-spacing: 0.75px;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    #menu-desktop {
        display: flex;
        gap: 60px;
        color: white;
    }

    #header-menu-js {
        display: none;
    }
}