/* CSS Document */


/* =============== Body =============== */

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #093409;
    background-color: #F2EFDE;
}


/* =============== Fonts and headlines ===============*/

/* H1 text - title*/
h1 {
    font-family: Jost;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 11.2px;
    margin: 0;
}

/* H2 text - subtitle*/
h2 {
    font-family: Jost;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0;
}

/* H3 text - headline*/
h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

/* H4 text - bold body*/
h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* Body text - paragraph */
p {
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* H5 text - bottom footer*/
h5 {
    color: #F2EFDE;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 0;
}

/* Class for bold body inside paragraph */
.bold-body {
    font-size: 15px;
    font-weight: 700;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.75px;
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    line-height: 200%;
}

/* For figures - removes default margin */
figure {
    margin: 0;
}


/* =============== Header =============== */

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;

    background: #093409;
    z-index: 20;
}

#header-box {
    max-width: 1320px;
    display: flex;
    height: 70px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

header img {
    height: 45px;
    z-index: 20;
    cursor: pointer;
}

.logo {
    height: 45px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;

    background-color: #247022;
    color: #F2EFDE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#menu-desktop {
    display: none;
    gap: 60px;
    color: #F2EFDE;
}

.desktop-menu-text:hover {
    color: #81C730;
}

.desktop-menu-text:active {
    color: #247022;
}


/* Menu point selected - desktop */
#menu-selected h3 {
    color: #81C730;
}

/* An element with both .menu and .active classes */
/* .active is added through Javascript */
.menu.active {
    display: flex;
}

.menu-link {
    display: flex;
    padding: 35px 15px;
    border-bottom: 2px solid #093409;
}

.menu-link:last-child {
    border-bottom: unset;
}


/* =============== Call to action button =============== */

.cta-button {
    /* Neutralizes the default styles on the semantic tag 'button' */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Button style */
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 49px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #81C730;
}

.cta-button:hover {
    background-color: #247022;
    color: #F2EFDE;
}

.cta-button:active {
    background-color: #093409;
    color: #F2EFDE;
}


/* =============== Footer =============== */

footer {
    width: 100%;
}

/* Top footer */
#top-footer {
    display: flex;
    justify-content: center;
    background: #247022;
    color: #F2EFDE;
}

#top-footer-box {
    display: flex;
    padding: 40px 15px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1320px;
}

#footer-contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer-nav div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#top-footer h4 {
    display: none;
}


/* Bottom footer */
#bottom-footer {
    display: flex;
    height: 25px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #093409;
}

#bottom-footer-box {
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
}

#bottom-footer-box a {
    display: none;
    height: 64px;
}


/* ======================================================================================================================== */
/* =============== Media Query ===============*/

@media only screen and (min-width: 992px) {

    /* ---------- Fonts and headlines ---------- */

    h1 {
        font-size: 70px;
        letter-spacing: 28px;
    }

    /* H2 text - subtitle*/
    h2 {
        font-size: 40px;
        letter-spacing: 12px;
    }

    /* H3 text - headline*/
    h3 {
        font-size: 24px;
        letter-spacing: 1.2px;
    }

    /* H4 text - bold body*/
    h4 {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    /* Body text */
    p {
        font-size: 16px;
        letter-spacing: 0.8px;
    }

    /* h5 text - bottom footer*/
    h5 {
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    /* Class for bold body inside paragraph */
    .bold-body {
        font-size: 16px;
        letter-spacing: 0.8px;
    }


    /* ---------- Header section ---------- */

    #menu-desktop {
        display: flex;
    }

    #header-menu-js {
        display: none;
    }

    header {
        padding: 0 24px;
    }

    #header-box {
        height: 80px;
        padding: unset;
    }

    .logo, .logo img {
        height: 64px;
    }


    /* ---------- Footer section ---------- */

    #top-footer h4 {
        display: unset;
    }

    #top-footer-box {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px;
    }

    #footer-contact-information {
        align-items: flex-start;
    }

    .footer-contact {
        flex-direction: row;
        gap: 24px;
    }

    .footer-contact img {
        height: 20px;
        width: 20px;
    }

    #footer-nav {
        flex-direction: column;
        gap: 24px;
    }

    #footer-nav div {
        gap: 24px;
    }


    #bottom-footer {
        height: 80px;
        justify-content: center;
        padding: unset;
    }

    #bottom-footer-box {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
    }

    #bottom-footer-box a {
        display: flex;
    }


    /* ---------- CTA button ---------- */
    .cta-button {
        max-width: 424px;
    }
}