/* CSS Document */


main {
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}


/* Intro Contact section */

#intro-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
}

#flowers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30.76%;
    min-width: 120px;
    max-width: 450px;
}

#contact-headlines {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 92.30%;
    max-width: 762px;
}


/* Contact Box section */

#contact-box {
    display: flex;
    justify-content: center;
}

#contact-box>div {
    /* > means only 1 level in */
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
    width: 92.30%;
    max-width: 762px;
    gap: 30px;

    border-radius: 10px;
    background-color: #247022;
    color: #F2EFDE;
}

#column-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#column-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Picture */

#contact-picture {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

#contact-picture img {
    width: 100%;
    max-width: 762px;
}