/* CSS Document */


/* =============== Main =============== */

main {
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}


/* =============== Main - Intro Contact Section =============== */

#intro-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
}

#flowers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30.76%;
    min-width: 120px;
    max-width: 450px;
}

#contact-headlines {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 92.30%;
    max-width: 762px;
}


/* =============== Main - Contact Box Section =============== */

#contact-box {
    display: flex;
    justify-content: center;
}

#contact-box>div {
    /* > means only 1 level in */
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
    width: 92.30%;
    max-width: 762px;
    gap: 30px;

    border-radius: 10px;
    background-color: #247022;
    color: #F2EFDE;
}

#column-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#column-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* =============== Main - Contact Picture Section ===============*/

#contact-picture {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

#contact-picture img {
    width: 100%;
    max-width: 762px;
    border-radius: 10px;
}


/* ======================================================================================================================== */
/* =============== Media Query ===============*/

@media only screen and (min-width: 992px) {

    /* ---------- Main (desktop) ---------- */

    main {
        margin-top: unset;
        margin-bottom: unset;
        padding-top: 280px;
        padding-bottom: 140px;
        gap: 140px;

        background-image: url(assets/illustrations/flower-pattern.svg);
        background-position: top 0px left calc(50% + 103px);
        /* left position - 50% is in the middle and then 103px to the right */
        background-repeat: repeat;
    }


    /* ---------- Main - Intro Contact Section (desktop) ---------- */

    #intro-contact {
        padding: 0 24px;
        gap: 140px;
    }

    #flowers {
        display: none;
    }

    #contact-headlines {
        gap: 24px;
        width: 100%;
        max-width: 848px;
    }


    /* ---------- Main - Contact Box Section (desktop) ---------- */

    #contact-box>div {
        /* > means only 1 level in */
        padding: 24px 0;
        margin: unset;
        width: 100%;
        max-width: 848px;
        gap: 96px;
    }

    #column-1 {
        gap: 24px;
    }

    #column-2 {
        gap: 24px;
    }


    /* ---------- Main - Contact Picture Section (desktop) ---------- */

    #contact-picture {
        padding: 0 24px;
    }

    #contact-picture img {
        max-width: 848px;
    }
}