/* CSS Document */


/* Main Introduction */

main {
    overflow: hidden;
}

¨ #introduction {
    display: flex;
    flex-direction: column;
    gap: 112px;
    margin-top: 120px;
    margin-bottom: 122px;
}

#introduction-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 120px;
}

#introduction-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 112px;
}

#introduction-headline h3 {
    width: 254px;
    text-align: center;
}


/* Main Introduction Path */
#front-page-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 15px;
    margin-top: 122px;
    margin-bottom: 60px;
}

.image-side-aligned {
    display: flex;
    justify-content: center;
    padding: 0 60px 0 0px;
}

.index-image {
    width: 100%;
    max-width: 762px;
    border-radius: 10px;
}

.fp-textbox {
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 10px;
    background: #DBD1AD;
    padding: 15px;

    flex: 0 1 76.92%;
}

.fp-textbox h4 {
    line-height: 100%;
}

.textbox-right {
    display: flex;
    justify-content: flex-end;
}


/* Front page call to action */

#fp-call-to-action {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

#fp-headline {
    width: 65%;
    text-align: center;
}


/* Front page illustrations - mountains and path */

#mountains {
    position: relative;
    left: 50%;
    width: 0;
}

#left-mountains {
    position: absolute;
    bottom: 45px;
    right: -43px;
    z-index: 2;
}

#right-mountains {
    position: absolute;
    bottom: 31px;
    left: -66px;
    z-index: 3;
}

#path-position {
    position: relative;
    left: 50%;
    width: 0;
}

#path {
    position: absolute;
    top: -46px;
    left: -175px;
    z-index: -5;
}